*{
    margin: 0;
    padding: 0;
}


/* Importing the custom font "JejuHallasan" */
@font-face {
    font-family: "JejuHallasan";
    src: url("https://db.onlinewebfonts.com/t/2da952d097bffd198ec0f0aa3fdd6804.eot");
    src: url("https://db.onlinewebfonts.com/t/2da952d097bffd198ec0f0aa3fdd6804.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/2da952d097bffd198ec0f0aa3fdd6804.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/2da952d097bffd198ec0f0aa3fdd6804.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/2da952d097bffd198ec0f0aa3fdd6804.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/2da952d097bffd198ec0f0aa3fdd6804.svg#JejuHallasan")format("svg");
}

/* Centering the entire page */
.pinPageBody {
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #de990e;
}

/* Centering content within the .pinPageContainer */
.pinPageContainer {
    text-align: center;
}

/* Styling for the input field */
.pinPageInput {
    display: block;
    padding: 9px;
    margin-top: 5px;
    font-weight: bold;
}

/* Styling for the button */
.pinPageButton {
    padding: 10px 20px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    background-color: #ffffff;
    color: #000000;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

/* Hover effect for the button */
.pinPageButton:hover {
    background-color: #b83ce0;
    transform: scale(1.1);
}
