*{
    margin: 0;
    padding: 0;
}

/* Importing the custom font "JejuHallasan" */
@font-face {
    font-family: "JejuHallasan";
    src: url("https://db.onlinewebfonts.com/t/2da952d097bffd198ec0f0aa3fdd6804.eot");
    src: url("https://db.onlinewebfonts.com/t/2da952d097bffd198ec0f0aa3fdd6804.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/2da952d097bffd198ec0f0aa3fdd6804.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/2da952d097bffd198ec0f0aa3fdd6804.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/2da952d097bffd198ec0f0aa3fdd6804.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/2da952d097bffd198ec0f0aa3fdd6804.svg#JejuHallasan")format("svg");
}

/* Styling for the main body of the page */
.mainBody {
    background-color: #0096FF;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pageLogo{
    min-height: 4vh;
    font-family: "JejuHallasan";
}



/* Styling for the container that holds the page content */
.pageContainer {
    text-align: center;
    margin-bottom: 20px;
}

.pageContainer h2 {
    margin-bottom: 20px;
    font-size: 20px;
    color: #020000;
    font-family: "JejuHallasan";
}

/* Styling for the input box */
.inputBox {
    padding: 10px;
    font-size: 16px;
    margin-bottom: 5px;
    margin-right: 3px;
    display: block;
    text-align: center;
    width: 250px;
    height: 50px;
    border-radius: 10px;
    border: solid black 1px;
}

/* Styling for the button */
.enterNameBtn {
    width: 250px;
    height: 50px;
    padding: 10px;
    font-size: 16px;
    border-radius: 10px;
    border: solid black 1px;
    text-align: center;

    color: white;
    background-color: #008000; 
    
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.enterNameBtn:hover {
    background-color: #b83ce0;
    transform: scale(1.1);
}
















/* Styling for the list of names */
.nameList {
    position: absolute;
    top: 80px;
    left: 50px;
    font-size: 18px;
    font-weight: bold;
    flex-direction: column;
}

/* Styling for individual display of names in the list */
.displayName {
    margin-bottom: 5px;
}


