/* Styling for the body of the waiting room page */
.waitingBody {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #0BDA51;
    
}

/* Styling for the container that holds the room content */
.roomContainer {
    background-color: transparent;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    margin-top: 20px;
    
}

/* Styling for the status message container */
.statusMessage {
    margin-bottom: 20px;
}

/* Styling for the paragraph inside the status message */
.statusMessage p {
    font-size: 18px;
    margin: 10px;
    color: #000000;
}


