/* Resetting margin and padding for all elements to ensure consistent spacing across different browsers */
*{
    margin: 0;
    padding: 0;
}

/* Defining CSS variables for theme colors and fonts */
:root {
    --background-color-header: #F2A71B;
    --background-color-div: #D9D9D9;
    --background-create-new-button: #D9D9D9;
    --background-color: #BCBCBC;
    --text-color: #000000;
    --play-button: #6CF01B;
    --edit-button: #1B8AF0;
    --remove-button: #F01B1B;
}

/* Importing the custom font "JejuHallasan" */
@font-face {
    font-family: "JejuHallasan";
    src: url("https://db.onlinewebfonts.com/t/2da952d097bffd198ec0f0aa3fdd6804.eot");
    src: url("https://db.onlinewebfonts.com/t/2da952d097bffd198ec0f0aa3fdd6804.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/2da952d097bffd198ec0f0aa3fdd6804.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/2da952d097bffd198ec0f0aa3fdd6804.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/2da952d097bffd198ec0f0aa3fdd6804.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/2da952d097bffd198ec0f0aa3fdd6804.svg#JejuHallasan")format("svg");
}

/* Styling for the main container of the admin login page */
#admLogMainContainer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 90%;
    background-color: #6051BD;
}

/* Styling for the admin login header */
#adminLogin{
    color: white;
    margin-top: 40px;
}

/* Styling for the username input field */
#adminUsername{
    display: block;
    padding: 9px;
    margin-top: 5px;
    font-weight: bold;
}

/* Styling for the password input field */
#adminPassword{
    display: block;
    padding: 9px;
    margin-top: 5px;
    font-weight: bold;
}

/* Styling for the login button */
#loginBtn{
    background-color: white;
    color: black;
    border: none;
    padding: 10px 70px;
    border-radius: 20px;
    margin-top: 5px;
    font-weight: bold;
}

/* Styling for the message container */
#adminMessage{
    margin-top: 10px;
    color: white;
    position: absolute;
    align-items: center;
    height: 40px;
    width: 200px;
}

/* Styling for the placeholder text in the input fields */
.inputBox input::placeholder {
    font-style: italic;
    color: rgb(48, 27, 0);
    font-weight: 400;
}

/* Styling for the message paragraph in the admin login page */
#adminPTagMessage{
    text-align: center;
}

/* Styling for the settings button */
#settingsBtn {
    position: absolute;
    top: 50px;
    right: 10px;
    background-color: white;
    color: black;
    padding: 10px 70px;
    border-radius: 20px;
    margin-top: 5px;
    font-weight: bold;

}

/* Styling for popup windows */
.settingsPopup, .changePasswordPopup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; 
}

/* Styling for the content within the popup windows */
.settingsContent, .changePasswordContainer {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); 
    max-width: 400px;
}

/* Styling for the close button in the popup windows */
.closeBtn {
    position: absolute;
    top: 120px;
    right: 80px;
    background-color: transparent;
    border: none;
    color: white;
    font-size: 18px;
    cursor: pointer;
}

/* Styling for the change password button */
.changePasswordBtn {
    color: black;
    padding: 10px 70px;
    border-radius: 20px;
    margin-top: 5px;
    font-weight: bold;

}

/* Styling for the password input fields */
input[type="password"] {
    display: block;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* General styling for buttons */
button {
    background-color: orange;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

/* Styling for popup messages */
.popupMessage {
    color: red;
    margin-top: 10px;
}