#admLogMainContainer *{
    display: flex;
}
#admLogMainContainer {
    border: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 95%;
}

.admFloater {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    width: 50%;
    height: 50%;

    border-radius: 0.3vw;
    background-color: rgba(0, 0, 0, 0.7);
}

.inputBox {
    width: 60%;
    height: 10%;

    border: 3px solid black;
    border-radius: 0.3vw;
}
