*{
    margin: 0;
    padding: 0;
}
  
:root {
    --background-color-header: #F2A71B;
    --background-color-div: #D9D9D9;
    --background-create-new-button: #D9D9D9;
    --background-color: #BCBCBC;
    --text-color: #000000;
    --play-button: #6CF01B;
    --edit-button: #1B8AF0;
    --remove-button: #F01B1B;
}
  
@font-face {
    font-family: "JejuHallasan";
    src: url("https://db.onlinewebfonts.com/t/2da952d097bffd198ec0f0aa3fdd6804.eot");
    src: url("https://db.onlinewebfonts.com/t/2da952d097bffd198ec0f0aa3fdd6804.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/2da952d097bffd198ec0f0aa3fdd6804.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/2da952d097bffd198ec0f0aa3fdd6804.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/2da952d097bffd198ec0f0aa3fdd6804.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/2da952d097bffd198ec0f0aa3fdd6804.svg#JejuHallasan")format("svg");
}

#admLogMainContainer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 50vh;
    background-color: #6051BD;
}

#adminLogin{
    color: white;
    margin-top: 40px;
}

#adminUsername{
    display: block;
    padding: 9px;
    margin-top: 5px;
    font-weight: bold;
}

#adminPassword{
    display: block;
    padding: 9px;
    margin-top: 5px;
    font-weight: bold;
}

#loginBtn{
    background-color: white;
    color: black;
    border: none;
    padding: 10px 70px;
    border-radius: 20px;
    margin-top: 5px;
    font-weight: bold;
}

#adminMessage{
    margin-top: 10px;
    color: white;
    position: absolute;
    align-items: center;
    height: 40px;
    width: 200px;
}

.inputBox input::placeholder {

    font-style: italic;
    color: rgb(48, 27, 0);
    font-weight: 400;
}
#adminPTagMessage{
    text-align: center;
}