#admLogMainContainer *{
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
}
#admLogMainContainer {
    background-color: #f2a71b;
    background: linear-gradient(170deg, rgb(36, 241, 122) 0%, rgb(1, 65, 35) 75%);
    border-radius: 2vw;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 95%;
}
#admLogMainContainer h1 {
    color: #ffffff;
}

.admFloater {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    width: 50%;
    height: 50%;

    border-radius: 2vw;
    background: linear-gradient(170deg, rgb(255, 217, 0) 0%, rgb(245, 110, 0) 100%);
    box-shadow: 0vw 0.5vw#fbff01;
}

#loginBtn {
    width: 35%;
    height: 10%;

    display:block;
    font-weight: 900;

    border-radius: 0.3vw;
    border: transparent;
    box-shadow: 2px 2px rgb(1, 65, 35);
    background-color: rgb(53, 165, 104);

    color: white;
}

.inputBox {
    width: 55%;
    height: 50%;

    border-radius: 0.3vw;
    flex-direction: column;
    justify-content: space-around;
    color: black;
}

.inputBox input {
    width: 100%;
    height: 30%;

    border-radius: 0.3vw;
    border: transparent;
    letter-spacing: 0.1vw;
    font-size: large;
    
    font-weight: 600;
    color: black;

    padding-left: 2vw;
}

.inputBox input::placeholder {

    font-style: italic;
    color: rgb(48, 27, 0);
}